package components

templ headerComponent(title string) {
	<head>
		<title>{ title }</title>
	</head>
}

templ Layout(title string, childrens ...templ.Component) {
	<!DOCTYPE html>
	<html>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		@headerComponent(title)
		<link href="/static/css/tailwind.css" rel="stylesheet"/>
		<body>
			for _, children := range childrens {
				@children
			}
		</body>
	</html>
}
